Repository Pending-Name-21/arquitecture, pull requests merged in 2024-06, with the labels that each got.

#10 Task 92t: uml of output handler
  uml/backend-software-system/Output-audio-handler.puml
Labels: UML, console

#12 Moved GUI to a container
  workspace.dsl
Labels: architecture

#9 chore: created input-listener uml
  uml/screen-container/input-listener.puml
Labels: UML, console

#11 feat: pacman uml
  games/pac-man/characters.puml
  games/pac-man/collectables.puml
  games/pac-man/collisions.puml
  games/pac-man/maze.puml
  games/pac-man/pacman.puml
  uml/frontend-software-system/process-input-handler.puml
  uml/frontend-software-system/render-handler.puml
  uml/frontend-software-system/update-handler.puml
Labels: UML

#8 feat: gui manager uml diagram
  uml/screen-container/gui-handler.puml
Labels: UML, console

#16 Task 169 | Add score
  games/pac-man/characters.puml
  games/pac-man/collectables.puml
  games/pac-man/pacman.puml
Labels: UML

#17 Bridge IPC
  uml/frontend-software-system/game-loop.puml
  uml/frontend-software-system/ipc.puml
  uml/frontend-software-system/package.puml
  uml/frontend-software-system/process-input-handler.puml
  uml/frontend-software-system/render-handler.puml
  workspace.dsl
Labels: enhancement

#19 Render handler refactor
  uml/frontend-software-system/package.puml
  uml/frontend-software-system/piece.puml
  uml/frontend-software-system/render-handler.puml
Labels: UML

#20 Refactor Process input handler
  uml/frontend-software-system/coffee_time_generated.puml
  uml/frontend-software-system/ipc.puml
  uml/frontend-software-system/package.puml
  uml/frontend-software-system/process-input-handler.puml
Labels: UML
